* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
}

body{
  background-color: #f567c9;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.promo{
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.promo-text{
  color: white;
  font-size: 14px;
}

.wrapper-promo{
  margin-top: 15px;
}

.wrapper-header{
  background: #fbfbfb;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px 0;
}

.navigation {
  display: flex;
}

.nav-list{
  display: flex;
  gap: 65px;
}

.block-promo{
  display: flex;
  gap: 12px;
  align-items: center;
}

.block-auth{
  display: flex;
  gap: 12px;
}

.logo{
  max-width: 90px;
}

.img-promo{
  max-width: 25px;
}

.img-auth{
  max-width: 25px;
}

.arrow-down{
  max-width: 25px;
  margin-bottom: 4px;
  margin-left: 4px;
}

.nav-item{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-item-link{
  font-weight: bold;
  font-size: 14px;
}

.nav-item-link{
  text-transform: uppercase;
}
